// 颜色
$accentColor = #1687a7
$textColor = #2c3e50
$borderColor = #d3e0ea
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #1687a7
$badgeWarningColor = darken(#da723c, 35%)
$badgeErrorColor = #91091e

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px